:root {
  /* Colors */
  --backgroundColor: #7A8A97;
  --textColor: black;
  --secondarytextColor: white;
  --accentColor: #F1F4F7;

  /* Fontsizes */
  --fontsizeSmall: 12px;
  --fontsizeMedium: 48px;
  --fontsizeBig: 96px;

  /* Margins */
  --marginSmall: 12px;
  --marginMedium: 20px; /*!!!*/
  --marginBig: 30px;

  /* Custom media queries */

  /* Fonts */

}
