:root {
  /* Colors */
  --backgroundColor: #f9d2cb;
  --textColor: #212121;
  --secondarytextColor: #9c9c9c;
  --accentColor: #a3f4dc;

  /* Fontsizes */
  --fontsizeSmall: 12px;
  --fontsizeMedium: 18px;
  --fontsizeBig: 26px;

  /* Margins */
  --marginSmall: 12px;
  --marginMedium: 20px; /*!!!*/
  --marginBig: 30px;

  /* Custom media queries */

  /* Fonts */

}
